@{
    ViewBag.Title = "Queue-it";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Configuration of queues.</h2>
            </hgroup>
            <p>
                To learn more about configuring queues, please contact Queue-it.
            </p>
        </div>
    </section>
}
<h3>Setting up the queue:</h3>
<ol class="round">
    <li class="one">
        <h5>Add configuration section to web config or user code to configure the queue</h5>
    </li>

    <li class="two">
        <h5>Add Action Filter to controllers</h5>
    </li>
</ol>
