<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="queueit.security" type="QueueIT.Security.Configuration.SettingsSection, QueueIT.Security"/>
  </configSections>
  <queueit.security
    secretKey="a774b1e2-8da7-4d51-b1a9-7647147bb13bace77210-a488-4b6f-afc9-8ba94551a7d7"
    queryStringPrefix=""
    ticketExpiration="00:03:00">
    <queues>
      <queue 
        name="default" 
        customerId="ticketania" 
        eventId="simple" 
        includeTargetUrl="true" />
      <queue
        name="advanced" 
        customerId="ticketania" 
        eventId="advanced" 
        includeTargetUrl="true" 
        domainAlias="queue-example.ticketania.com" 
        landingPage="/AdvancedLanding.aspx" 
        language="en-GB"
        layoutName="Custom layout"/>
      <queue
        name="link"
        customerId="ticketania"
        eventId="link"/>
    </queues>
    <repositorySettings>
      <!--setting name="CookieDomain" value=".ticketania.com" /-->
      <setting name="CookieExpiration" value="00:20:00" />
    </repositorySettings>
  </queueit.security>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
</configuration>