<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="queueit.security" type="QueueIT.Security.Configuration.SettingsSection, QueueIT.Security"/>
  </configSections>
  <queueit.security
    secretKey="zaqxswcdevfrbgtnhymjukiloZAQCDEFRBGTNHYMJUKILOPlkjhgfdsapoiuytrewqmnbvcx"
    queryStringPrefix="prefix"
    ticketExpiration="00:03:00">
    <queues>
      <queue
        name="default"
        customerId="defaultCustomerId"
        eventId="defaultEventId" />
      <queue
        name="queue1"
        customerId="queue1CustomerId"
        eventId="queue1EventId"
        useSsl="true"
        includeTargetUrl="true"
        domainAlias="queue.mala.dk"
        landingPage="http://www.mysplitpage.com/"/>
    </queues>
  </queueit.security>  
</configuration>